<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MewShop</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" type="image/png" href="/img/logo/logopage.png">
</head>
<body>
    <div class="container">
        <header>
            <a href="/home"><img class="banner" src="/img/logo/logo.png"></a>
            <h1>MewShop</h1>
            <div class="search-container">
                <input type="text" id="search-bar" placeholder="Tìm kiếm..." oninput="search()">
                <button id="search-button">
                    <img src="/img/logo/search.png">
                </button>
            </div>
            <div class="alert">
                <img class="nohover" src="/img/logo/alert.svg">
                <img class="hover" src="/img/logo/alerthover.svg">
                <span class="alerts">0</span>
            </div>
            <div class="shopping">
                <img class="nohover1" src="/img/logo/bagshopping.svg">
                <img class="hover1" src="/img/logo/bagshoppinghover.svg">
                <span class="quantity">0</span>
            </div>
            <div class="user-account">
                <img src="/img/logo/avatar.svg">
            </div>
        </header>
        <div class="list"></div>

    </div>
    <div class="card">
        <div class="titlecard">Giỏ hàng</div>
        <ul class="listCard"></ul>
        <div class="checkout">
            <div class="total">0</div>
            <a href="/home/pay"><div class="thanhtoan">Thanh toán</div></a>
        </div>
    </div>
    <div class="tabalert">
        <div class="titlealert">Thông báo</div>
        <ul class="mesalert"></ul>
    </div>
    <div class="carduser">
        <div class="username"><img src="/img/logo/user.png"><%= username%></div>
        <div class="logout" onclick="logout()"><img src="/img/logo/logout.png">Đăng xuất</div>
    </div>
<script>
var unreadMessages = <%- JSON.stringify(unreadAlerts) %>;
var readMessages = <%- JSON.stringify(readAlerts) %>;
var username = <%- JSON.stringify(username) %>;
var bookArray = <%- JSON.stringify(books) %>;
</script>   
<script src="/js/homelogin.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- https://ionic.io/ionicons -->
</body>
</html>